
html {
	background-color: DimGrey;
	margin-left: 10%;
	margin-right: 10%;
}

figure, footer {
	text-align: center;
	padding: 5pt;
}

figure img {
	width: 35%;
	height: 45%;
}

body {
	text-align: left;
	font-family: 'Courier New', monospace;
	background-color: WhiteSmoke;
	border: 10px solid LightSteelBlue;
}

p {
	padding: 10px;
}

a:link {
	text-decoration: none;
}	

nav ul li, a:hover nav ul li{
	display: inline;
	padding: 16px 20px 20px 20px;
	border-left: 5px solid LightSteelBlue;
	border-right: 5px solid LightSteelBlue;
}

a:hover {
	background-color: LightSteelBlue;
}

h1, h2, h3 {
	margin: auto;
	background-color: LightSteelBlue;
}
